<!DOCTYPE html>
<html lang="en-ca">
<head>
	<meta charset="utf-8">
	<title>{% if page.title %}{{page.title}} · {% endif %}Alex Rothenberg · Graphic Designer</title>
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/typography.css" rel="stylesheet">
	<meta name="handheldfriendly" content="true">
	<meta name="mobileoptimized" content="240">
	<meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="{{page.meta}}">
  
  <meta name="twitter:card" content="Portfolio pieces of graphic designer Alex Rothenebrg." />
<meta name="twitter:site" content="https://alexandrarothenberg.github.io/alexdesign.rocks/" />
<meta name="twitter:title" content="Alex Rothenberg Designs" />
<meta name="twitter:description" content="Check it out!" />
<meta name="twitter:image" content="https://alexandrarothenberg.github.io/alexdesign.rocks/" />
  
  <meta property="og:title" content="Alex Rothenberg Designs" />
<meta property="og:type" content="porfolio site" />
<meta property="og:url" content="https://alexandrarothenberg.github.io/alexdesign.rocks/" />
<meta property="og:image" content="https://alexandrarothenberg.github.io/alexdesign.rocks/" />
  
</head>
<body>
  <div class="banner">
    <div class="title">
      <header>
        <h1 itemprop="name"><a itemprop="url" href="{{site.baseurl}}/">Alex Rothenberg</a></h1>
      </header>
    </div>
  </div>
  
  {{content}}
  
  
  <div class="background">   
      <div class="icons">
        <ul>
            <li><a itemprop="url" href="https://vimeo.com/"> <img itemprop="image" src="{{site.baseurl}}/images/vimeo-white.svg" alt=""></a>
            </li>    
            <li><a itemprop="url" href="https://www.behance.net/"> <img itemprop="image" src="{{site.baseurl}}/images/behance-white.svg" alt=""></a>
            </li>    
            <li><a itemprop="url" href="https://www.facebook.com/"> <img itemprop="image" src="{{site.baseurl}}/images/facebook-white.svg" alt=""></a>
            </li>    
        </ul>    
      </div>
     <div>
        <p itemprop="description">My name is Alex Rothenberg. I'm studying Graphic Design at Algonquin College and am currently in my final year. I speciliaze in Print Media and Motion Graphics.</p>
    </div>
    <div class="icons" id="data-author" itemprop="author" itemscope itemtype="http://schema.org/Person">
    <p>© 2016<span itemprop="name"> Alex Rothenberg</span></p>
    <p><a itemprop="email" href="mailto:alexandra.rothenberg12@gmail.com">Email Me</a></p>
    <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
      <span itemprop="addressLocality">Ottawa</span>,
      <span itemprop="addressRegion">Ontario</span>,
      <span itemprop="addressCountry">Canada</span>
    </p>
  </div>
    </div>
</body>
</html>