<!DOCTYPE html>
<html lang="en-ca">
<head>
	<meta charset="utf-8">
	<title>Alex Rothenberg</title>
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/typography.css" rel="stylesheet">
	<meta name="handheldfriendly" content="true">
	<meta name="mobileoptimized" content="240">
	<meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
  <div class="banner">
    <div class="title">
      <header>
        <h1><a href="{{site.baseurl}}/index/">Alex Rothenberg</a></h1>
      </header>
    </div>
  </div>
  
  
  {{content}}
  
  
  <div class="background">
    <div>
        <p>My name is Alex Rothenberg. I'm studying Graphic Design at Algonquin College and am currently in my final year. I speciliaze in Print Media and Motion Graphics.</p>
    </div>   
      <div class="icons">
        <ul>
            <li><a href="https://vimeo.com/"> <img src="{{site.baseurl}}/images/vimeo-white.svg" alt=""></a>
            </li>    
            <li><a href="https://www.behance.net/"> <img src="{{site.baseurl}}/images/behance-white.svg" alt=""></a>
            </li>    
            <li><a href="https://www.facebook.com/"> <img src="{{site.baseurl}}/images/facebook-white.svg" alt=""></a>
            </li>    
        </ul>    
      </div>
    </div>
</body>
</html>