<!DOCTYPE html>
<html lang="en-ca">
<head>
	<meta charset="utf-8">
	<title>{% if page.title %}{{page.title}} · {% endif %}Alex Rothenberg · Graphic Designer</title>
  <link href="{{site.baseurl}}/css/site.css" rel="stylesheet">
	<meta name="handheldfriendly" content="true">
	<meta name="mobileoptimized" content="240">
	<meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="{{page.meta}}">
  
  <meta name="twitter:card" content="Portfolio pieces of graphic designer Alex Rothenebrg." />
<meta name="twitter:site" content="https://alexandrarothenberg.github.io/alexdesign.rocks/" />
<meta name="twitter:title" content="Alex Rothenberg Designs" />
<meta name="twitter:description" content="Check it out!" />
<meta name="twitter:image" content="https://alexandrarothenberg.github.io/alexdesign.rocks/" />
  
  <meta property="og:title" content="Alex Rothenberg Designs" />
<meta property="og:type" content="porfolio site" />
<meta property="og:url" content="https://alexandrarothenberg.github.io/alexdesign.rocks/" />
<meta property="og:image" content="https://alexandrarothenberg.github.io/alexdesign.rocks/" />
  
</head>
<body>
  <div class="banner-top">
    <div class="title">
      <header>
        <h1 itemprop="name"><a itemprop="url" href="{{site.baseurl}}/">Alex Rothenberg</a></h1>
      </header>
    </div>
  </div>
  
  
  {{content}}
  
    
</body>
</html>